

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            /* ------origial settings------
            position: static;
            width: 100%;
            left: 0;
            text-align: center;
             */
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
            margin-left: 25px;
                    }
    }

.navbar-brand{
    margin-left: 25px;
    padding-right: 10px;
    padding-left: 10px;
    background-color:lightgray;
    color: black !important;
    
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: visible;
}

.nav-item {
    color: white;
}

.dropdown-menu {
    /* background-color: white; */
    /* text-align: right; */
}

#navbarDropdown {
    
}

.dropdown-item {
    color: white;
}

.dropdown-toggle {
    color:white !important;
} 

/* #image1 {
    width: 100%;
    height: auto;
  } */

  .show {
    background-color: gray;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .rounded {
      border-radius: 50%;
  }

  .footer {
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: lightgray;
      color: black;
      text-align: center;
  }
 